/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Actual stylesheet !! */

body {
    background: #d7d3c8; /* Old browsers */
    background: -moz-linear-gradient(top,  #d7d3c8 0%, #f6f4ec 76%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d3c8), color-stop(76%,#f6f4ec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d7d3c8 0%,#f6f4ec 76%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d7d3c8 0%,#f6f4ec 76%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d7d3c8 0%,#f6f4ec 76%); /* IE10+ */
    background: linear-gradient(to bottom,  #d7d3c8 0%,#f6f4ec 76%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d3c8', endColorstr='#f6f4ec',GradientType=0 ); /* IE6-9 */
    font-size: 0.875rem;
    line-height: 1.5;
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
    color: #333;

}

.large {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}
h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
  padding-top: 36px;
  padding-bottom: 24px;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
  padding-top: 24px;
  padding-bottom: 16px;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 100%;
  padding-top: 21px;
  padding-bottom: 14px;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 100%;
  padding-bottom: 18px;
  padding-bottom: 12px;
}
.small, small {
  font-size: 12px;
  line-height: 100%;
}


.step {
    width: 800px;
}

#title {
    width: 800px;
    position: absolute;
    top: -400px;
    left: 400px;
}
#title h1, #title h2 {
    padding: 0px;
}

#es6-list h1, #es6-list h2 {
    padding: 0px;
}
#es6-list ul {
    margin-left: 100px;
}
#es6-list ul li {
    margin-top: 75px;
    margin-bottom: 75px;
} 
